
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

span {
    display: flex;
    justify-content: center;
    gap: 25px;
    a {
        margin: 0;
        img {
            width: 30px;
        }
    }
}

