.style-hero {
  justify-content: center;
  display: flex;
  margin-top: 250px;
}

.style-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.img-hero {
  height: 400px;
}

span {
    display: flex;
    justify-content: center;
    gap: 25px;
    a {
        margin: 0;
        img {
            width: 30px;
        }
    }
}

