:root {
    --black: rgb(22, 20, 20);
    --white: rgb( 255, 255, 255);
}

[data-theme='light'] {
    --background-color: var(--white);
    --text-color: black;
}

[data-theme='dark'] {
    --background-color: var(--black);
    --text-color: white;
}